@import "tailwindcss" prefix(tw);
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake, cmyk, pastel;
    prefix: "dui-";
}

@plugin "daisyui/theme" {
    name: "daisyui_default";
    default: true;
}

@plugin "daisyui/theme" {
    name: "daisyui_leaf";
    default: true;
}

:root {
    --color-gray-200: #e5e7eb;
}

@layer base {
    *,
     ::after,
     ::before,
     ::backdrop,
     ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
        /*
        border-top-color: var(--color-gray-200, currentColor);
        border-left-color: var(--color-gray-200, currentColor);
        border-right-color: var(--color-gray-200, currentColor);
        border-bottom-color: var(--color-gray-200, currentColor);
        */
    }
}