// * { border: 1px solid red !important; }
@use '@angular/material' as mat;
@include mat.core();
//use M3 theming
$demo-app-theme:mat.define-theme(( color: ( theme-type: light, primary: mat.$azure-palette, tertiary: mat.$blue-palette), density: ( scale: 0)));
$demo-button-theme:mat.define-theme(( color: ( theme-type: light, primary: mat.$orange-palette, tertiary: mat.$yellow-palette), density: ( scale: 0)));
$font-family: 'Roboto',
'Noto',
'Helvetica Neue',
sans-serif;
$row-height: 56px;
mat-toolbar {
    &.mat-medium {
        min-height: $row-height;
        mat-toolbar-row {
            height: $row-height;
        }
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(250, 250, 250) !important;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
    @include mat.all-component-themes($demo-app-theme);
    @include mat.button-theme($demo-button-theme);
    --mat-toolbar-container-background-color: #{mat.get-theme-color($demo-app-theme, primary, 80)};
}

.demo-page-header {
    background-color: mat.get-theme-color($demo-app-theme, surface);
    margin-bottom: 12px;
    .header-content {
        font-family: $font-family;
        line-height: 1.4em;
        padding: 12px;
        .menu-label {
            margin-right: 12px;
            font-weight: bold;
        }
    }
}

.ace_active-line {
    background: none !important;
}

[ace-editor],
.data-good,
.data-bad {
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #ccc !important;
}

[ace-editor] {
    background-color: rgb(253, 253, 253) !important;
}

.avoidwrap {
    display: inline-block;
}

.data-good {
    background-color: #dfd;
}

.data-bad {
    background-color: #fcc;
}

.default-cursor:hover {
    cursor: default;
}

.check-row {
    margin-top: 8px;
}

.cdk-overlay-container .cdk-overlay-pane .mat-mdc-menu-panel {
    max-width: 560px;
}

.debug {
    border: 1px solid red !important;
}


/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version.*/

.mat-input-container.mat-mdc-form-field {
    width: 100%;
}

.demo-theme {
    @include mat.all-component-themes($demo-app-theme);
    @include mat.button-theme($demo-button-theme);
}

@import '../projects/ng-formworks-material/src/lib/material-design-themes.scss';
@import '../projects/ng-formworks-material/src/lib/flexlayout-replacement-styles.scss';