// * { border: 1px solid red !important; }
@use '@angular/material' as mat;
@include mat.core();
$demo-app-primary: mat.define-palette(mat.$blue-palette);
$demo-app-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$demo-app-warn: mat.define-palette(mat.$red-palette);
$demo-app-theme: mat.define-light-theme($demo-app-primary, $demo-app-accent, $demo-app-warn);
@include mat.all-component-themes($demo-app-theme);
$font-family: 'Roboto',
'Noto',
'Helvetica Neue',
sans-serif;
$row-height: 56px;
mat-toolbar {
    &.mat-medium {
        min-height: $row-height;
        mat-toolbar-row {
            height: $row-height;
        }
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(250, 250, 250) !important;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-family: $font-family;
    height: 100%;
    margin: 0;
    padding: 0;
}

.demo-page-header {
    background-color: mat.get-color-from-palette($demo-app-primary, lighter);
    margin-bottom: 12px;
    .header-content {
        font-family: $font-family;
        line-height: 1.4em;
        padding: 12px;
        .menu-label {
            margin-right: 12px;
            font-weight: bold;
        }
    }
}

.ace_active-line {
    background: none !important;
}

[ace-editor],
.data-good,
.data-bad {
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #ccc !important;
}

[ace-editor] {
    background-color: rgb(253, 253, 253) !important;
}

.avoidwrap {
    display: inline-block;
}

.data-good {
    background-color: #dfd;
}

.data-bad {
    background-color: #fcc;
}

.default-cursor:hover {
    cursor: default;
}

.check-row {
    margin-top: 8px;
}

.cdk-overlay-container .cdk-overlay-pane .mat-mdc-menu-panel {
    max-width: 560px;
}

.debug {
    border: 1px solid red !important;
}


/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version.*/

.mat-input-container.mat-mdc-form-field {
    width: 100%;
}


/*
// Define a dark theme
$dark-theme: mat.define-dark-theme(( color: ( primary: mat.define-palette(mat.$pink-palette), accent: mat.define-palette(mat.$blue-grey-palette), ), // Only include `typography` and `density` in the default dark theme.
typography: mat.define-typography-config(), density: 0, ));
// Apply the dark theme by default
.dark-theme {
    @include mat.core-theme($dark-theme);
    @include mat.button-theme($dark-theme);
}

// Define a light theme
$light-theme: mat.define-light-theme(( color: ( primary: mat.define-palette(mat.$indigo-palette), accent: mat.define-palette(mat.$pink-palette), ), ));
.light-theme {
    @include mat.core-theme($light-theme);
    @include mat.button-theme($light-theme);
}
*/

.demo-theme {
    @include mat.core-theme($demo-app-theme);
    //@include mat.all-component-themes($demo-app-theme);
    @include mat.button-color($demo-app-theme);
}

@import '../projects/zajsf-material/src/lib/material-design-themes.scss';
@import '../projects/zajsf-material/src/lib/flexlayout-replacement-styles.scss';